button.nav-link {
  width: 100%;
  display: block;
  padding: .5rem 1rem;
  p, .nav-icon {
    float: left;
  }
}

.nav-pills .nav-link{
  color: #C2C7D0;
}
.brand-text {
  opacity: 1 !important;
}

html, body {
  background: #e9ecef;
}

.login-page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.user-panel {
  overflow: unset;
  white-space: nowrap;
  .info {
    overflow: unset;
    white-space: nowrap;
  }
}

.sidebarToggle {
  display: none;
  width: 32px !important;
  position: absolute;
  top: 9px;
  left: 12px;
  color: #C2C7D0;
}
.sidebarToggle:hover{
  color: #ffffff;
}
@include media-breakpoint-down(md) {
  .sidebarToggle {
    display: block;
  }
}

table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: 100% !important;
  border-collapse: separate !important;
}
div.dataTables_info {
  padding-top: 0.85em;
  white-space: nowrap;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  margin: 2px 0;
}

div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
  justify-content: flex-end;
}

.page-item.active .page-link{
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.page-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

select.form-control-sm:not([size]):not([multiple]) {
  height: calc(1.8125rem + 2px);
}

div.dataTables_length select {
  width: 75px;
  display: inline-block;
}

div.dataTables_filter {
  text-align: right;
}
div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}
.paginate_button.page-item.active{
  z-index: 0;
}
.modal {
  display: block;
  width: 50%;
  height: 50%;
  min-height: 350px;
  margin: auto;
  margin-top:100px;
  position: relative;
  background-color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(194,199,208,0.5);
}