// fix button to a
button.nav-link {
    width: 100%;
    display: block;
    padding: .5rem 1rem;

    p, .nav-icon {
      float: left;
    }
}
.brand-text{
  opacity: 1 !important;
}
html,
body{
  background: #e9ecef;
}
.login-page{
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.user-panel, .user-panel .info {
  overflow: unset;
  white-space: nowrap;
}


